nav{
  background-color: hsl(190, 50%, 50%);

  border-radius: 1em;
}

.subtle-debug{
  color: hsl(190, 50%, 90%);
  font-size: 0.5em;
}

.home-logo-div{
  position: absolute;
  top: 50%;
  transform:  translateY(-50%);  
  
}

.home-text{

  position: relative;
  text-align: center;
  color: hsl(190, 70%, 20%);
}

