nav{
  background-color: hsl(190, 50%, 50%);

  border-radius: 1em;
}

.subtle-debug{
  color: hsl(190, 50%, 90%);
  font-size: 0.5em;
}

.home-logo-div{
  position: absolute;
  top: 50%;
  transform:  translateY(-50%);  
  
}

.home-text{

  position: relative;
  text-align: center;
  color: hsl(190, 70%, 20%);
}

.collapsible-collection{
  margin-top:0;
  border-width:0 0 1 0;
}

.graph-text {
    fill: white;
    font-weight: 900;
}

.details-div-visible {
  visibility: visible; }

.details-div-hidden {
  visibility: hidden;
  display: none; }

.response-option{
  border: 1px solid lightblue;
  border-radius: 5px;
}
